{% extends './base.html' %}
{% load static %}
{% block title %} About us{% endblock %}
{% block content %}
<div class="enterTainments_Section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="item w3-animate-right">
          <h2>About Ufalme-community</h2>
          <p>Do you want to make money on a digital platform? For example, <br> people's streams,increase followers, <br> increase likes, upload music on boomplay, spotfy, <br>youtube and many others, we will help you achieve your goals!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about_us_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="items">
          <h2>About Us</h2>
          <h2>Our History</h2>
          <h2>Mission & Vision</h2>
          <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
          <a href="#">REQUEST CUSTOMER SUPPORT</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image_section">
          <img src="{% static 'asset/images/ufalmesub.jpg'%}" alt="ufalmesub" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="royal_facility">
  <div class="container">
    <div class="row">
      <h2>Services we Offered</h2>
      <p>Who are in extremely love with eco friendly system.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>Digital Marketing</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>Push Youtube subscribers</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>Push instagram followers</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>Graphics services</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>Web designing</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>Android App Development</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>Artificial Inteligence</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>User Support</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="item">
              <h3><strong>Network configuration</strong></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}