{% extends './base.html' %}
{% load static %}
{% block title %} home{% endblock %}
{% block content %}
<div class="enterTainments_Section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="item w3-animate-right">
          <h2>Ufalme-Entertainments-plan</h2>
          <p>Do you want to make money on a digital platform? For example, <br> people's streams,increase followers, <br> increase likes, upload music on boomplay, spotfy, <br>youtube and many others, we will help you achieve your goals!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="plan_sctions w3-animate-right">
  <div class="accordion">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a class="card-link text-decoration-none" data-toggle="collapse" href="#collapseOne">
                <h3 class="card-title">Raise subscribers on youtube</h3>
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="items">
                  <p>Have you been wondering how to open your YouTube channel? were you wondering how you can get a large number of subscribers, were you thinking how you can get more likes, were you wondering how you can make your YouTube channel start paying you? for being able to increase the number of subscribers on the ko youtube channel at a low cost and with high security 
                  <br> <br><a href="{% url 'subscriber:youtubePackage' %}" class="check_package">Select a package</a></p>
                  
                 <div class="image_section">
                  <img src="{% static 'asset/images/ufalmesub.jpg'%}" alt="">
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="accordion">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a class="card-link text-decoration-none" data-toggle="collapse" href="#collapseTwo">
                <h3 class="card-title">Raise followers on instagram</h3>
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="items">
                  <p>Have you been wondering how to open your YouTube channel? were you wondering how you can get a large number of subscribers, were you thinking how you can get more likes, were you wondering how you can make your YouTube channel start paying you? for being able to increase the number of subscribers on the ko youtube channel at a low cost and with high security 
                  <br> <br><a href="{% url 'subscriber:instagramPackage' %}" class="check_package">Select a package</a></p>
                  
                 <div class="image_section">
                  <img src="{% static 'asset/images/ufalmesub.jpg'%}" alt="">
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="accordion">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a class="card-link text-decoration-none" data-toggle="collapse" href="#collapseThree">
                <h3 class="card-title">Digital marketing distribution</h3>
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="items">
                  <p>Have you been wondering how to open your YouTube channel? were you wondering how you can get a large number of subscribers, were you thinking how you can get more likes, were you wondering how you can make your YouTube channel start paying you? for being able to increase the number of subscribers on the ko youtube channel at a low cost and with high security 
                  <br> <br><a href="{% url 'subscriber:digitalMarketingDistribution' %}" class="check_package">Select a package</a></p>
                  
                 <div class="image_section">
                  <img src="{% static 'asset/images/ufalmesub.jpg'%}" alt="">
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="accordion">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a class="card-link text-decoration-none" data-toggle="collapse" href="#collapseFour">
                <h3 class="card-title">Earning money online</h3>
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="items">
                  <p>Have you been wondering how to open your YouTube channel? were you wondering how you can get a large number of subscribers, were you thinking how you can get more likes, were you wondering how you can make your YouTube channel start paying you? for being able to increase the number of subscribers on the ko youtube channel at a low cost and with high security 
                  <br> <br><a href="{% url 'subscriber:earningMoneyOnline' %}" class="check_package">get started</a></p>
                  
                 <div class="image_section">
                  <img src="{% static 'asset/images/ufalmesub.jpg'%}" alt="">
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="accordion">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <a class="card-link text-decoration-none" data-toggle="collapse" href="#collapseFive">
                <h3 class="card-title">Advertise bussiness</h3>
              </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="items">
                  <p>Have you been wondering how to open your YouTube channel? were you wondering how you can get a large number of subscribers, were you thinking how you can get more likes, were you wondering how you can make your YouTube channel start paying you? for being able to increase the number of subscribers on the ko youtube channel at a low cost and with high security 
                  <br> <br><a href="{% url 'subscriber:advertiseBussiness' %}" class="check_package">get started</a></p>
                  
                 <div class="image_section">
                  <img src="{% static 'asset/images/ufalmesub.jpg'%}" alt="">
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}