<input type="text" name="first_name" id="" placeholder="Your first name" class="form-control">
<input type="text" name="last_name" id="" placeholder="Your last name" class="form-control">
<input type="text" name="phone_number" id="" placeholder="Your phonenumber" class="form-control">
<input type="email" name="email" id="" placeholder="Your email" class="form-control">
<textarea name="comments" id="" cols="30" rows="10" placeholder="Your comment" class="form-control"></textarea>
<input type="submit" value="Send info">

