{% extends './base.html' %}
{% load static %}
{% block title %} home{% endblock %}
{% block content %}
<div class="enterTainments_Section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="item w3-animate-right">
          <h5>WELLCOME TO UFALME-COMMUNITY</h5>
          <h2>WE HELP YOU</h2>
          <h2> TO GROW YOUR BUSSINESS</h2>
          <p><br> people's streams,increase followers, <br> increase likes, upload music on boomplay, spotfy, <br>youtube and many others, we will help you achieve your goals!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="why_us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>WHY US?</h2>
      </div>
    </div>
  </div>
</div>
<div class="why_us_items">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ">
        <div class="items w3-animate-right">
          <p class="icon">icon</p>
          <h3>Reasons1</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ex repellendus quod!</p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="items w3-animate-right">
          <p class="icon">icon</p>
          <h3>Reasons1</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ex repellendus quod!</p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="items w3-animate-right">
          <p class="icon">icon</p>
          <h3>Reasons1</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ex repellendus quod!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ftco-counter" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex w3-animate-right justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="30">0</strong>
          </div>
          <div class="text">
            <span>Customer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex w3-animate-right justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="10">0</strong>
          </div>
          <div class="text">
            <span>Professionals</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex w3-animate-right justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="20">0</strong>
          </div>
          <div class="text">
            <span>Products</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex w3-animate-right justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="10">0</strong>
          </div>
          <div class="text">
            <span>Task inprogress</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="our_services ">
<div class="container">
  <div class="row">
    <div class="col-md-12 w3-animate-right">
      <div class="text">
        <h2>OUR SERVICES</h2>
      </div>
      <div class="services_list">
        <ol class="list">
          <li>Push Youtube subscribers</li>
          <li>Push instagram followers</li>
          <li>Push instagrama likes </li>
          <li>Push Market place</li>
          <li>Digital Marketing </li>
          <li>Digital Marketing </li>
          <li>etc</li>
          <button class="link"><a href="{% url 'subscriber:entertainmentsPlan' %}">GET STARTED</a></button>
        </ol>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}